@{
    ViewData["Title"] = "About XYZ ";
}
    <article>
        <div class="row">
        <h2 class="bg-dark text-center text-white-50 p-2">XYZ Detective Agency <img src="~/Images/scooby-and-scrappy (1).jpg" alt="scooby and scrappy" class="float-end rounded img-fluid p-3" /></h2>
    </div>
        
        <div class="row">
        <p>
            Our agency was founded in 1960 by Scooby and Scrappy Doo.
            The agency expanded in the 1980's across the United States and is now the top
            agency in the midwest.
        </p>
        <p>
            In 2000, the agency expanded to Europe and in 2020, the agency will also be
            in Africa and Austrailia.
        </p>
        <img src="~/Images/detectives.jpg" alt="detectives" />
    </div>
        
    </article>
