@model Employee
@{
    ViewData["Title"] = "New Employee Form";
}

<h2>New Employee Form</h2>
<div class="row">
    <form asp-action="CalcPay" method="post" class="col-6">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Id">Id:</label>
            <input asp-for="Id" />
        </div>
        <div>
            <label asp-for="Name">Name:</label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="Hours">Hours:</label>
            <input asp-for="Hours" />
        </div>
        <div>
            <label asp-for="Rate">Rate:</label>
            <input asp-for="Rate" />
        </div>
        <div>
            <label>Weekly Gross Pay:</label>
            <label>@ViewBag.Salary.ToString("C2")</label>
        </div>
        <button type="submit">Calculate Gross Pay</button>
        <button asp-controller="Home" asp-action="Index">Clear</button>
    </form>
</div>


